<!DOCTYPE html>
<html lang="en">
<head>
    {% load bootstrap4 %}
    <meta charset="UTF-8">
    <title>
        {% block title %}
        {% endblock %}
    </title>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand">Veículos Usados</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          <li><a href="{% url 'listar_veiculo' categoria='carro' %}">Carros</a></li>
          <li><a href="{% url 'listar_veiculo' categoria='moto' %}">Motos</a></li>
          <li><a href="{% url 'listar_veiculo' categoria='todos' %}">Todos</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container">
{% block content %}

{% endblock %}
</div>
</body>
</html>